<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="world_name" default="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="robot_name" default="my_rb1_robot"/>
    <arg name="x" default="-0.3474"/>
    <arg name="y" default="-1.315850"/>
    <arg name="z" default="0.5"/>
    <arg name="urdf_file" default="$(find my_rb1_description)/urdf/my_rb1_robot.urdf"/>
    <arg name="controller_config" default="$(find my_rb1_description)/config/controller.yaml"/>

    <!-- Launch Gazebo with the Warehouse World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Load Robot Description -->
    <param name="robot_description" textfile="$(arg urdf_file)" />

    <!-- Spawn Robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-param robot_description -urdf -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)" />

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Load Controller Configuration -->
    <rosparam file="$(arg controller_config)" command="load" />

    <!-- Controller Spawner -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
          args="diff_drive_controller" 
          output="screen" />

</launch>
